<ngx-smart-modal #updateReservationModal identifier="updateReservationModal">
    <div class="panel panel-default" style="margin-top : 20px">

        <div class="panel-heading">
            <h2 class="panel-title">Reservation updating page</h2>
        </div>

        <div class="panel-body">
            <form role="form" [formGroup]="updateReservationForm" (ngSubmit)="onSubmit(updateReservationModal)">

                <fieldset>


                    <button class="btn btn-lg btn-success btn-block" type="submit">Update</button>
                </fieldset>

            </form>
        </div>

    </div>
</ngx-smart-modal>
