<app-create-customer (onCreated)="onCreated($event)"></app-create-customer>
<app-update-customer (onUpdated)="onUpdated($event)" [customer]="customerForUpdate"></app-update-customer>
<app-delete-customer (onDeleted)="onDeleted($event)" [customer]="customerForDelete"></app-delete-customer>

<div id="page-wrapper" *ngIf="customers.length  || isListEmpty">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <h1 class="page-header">Customers</h1>
            </div>
            <div class="col-md-offset-9 col-md-1">

                <h1 class="page-header">
                    <button class="btn btn-success btn-block" (click)="onCreate()">
                        <i class="fa fa-plus fa-fw"></i> Create
                    </button>
                </h1>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">

                                <thead>
                                <tr>
                                    <th *ngFor="let header of tableHeaders" class="">{{header.title}}</th>
                                    <th>Editing</th>
                                    <th>Deleting</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="odd gradeX" *ngFor="let customer of customers">
                                    <td>{{customer.name}}</td>
                                    <td>{{customer.address}}</td>
                                    <td>{{customer.phone}}</td>
                                    <td>{{customer.directorFullName}}</td>
                                    <td>{{customer.bankName}}</td>
                                    <td>{{customer.bankAccount}}</td>
                                    <td>{{customer.inn}}</td>
                                    <td>{{customer.mfo}}</td>
                                    <td>{{customer.oked}}</td>
                                    <td>{{customer.ndsPayerCode}}</td>
                                    <td>
                                        <button class="btn btn-success btn-block"
                                                (click)="onUpdate(customer)">
                                            <i class="fa fa-edit fa-fw"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-block"
                                                (click)="onDelete(customer)">
                                            <i class="fa fa-trash fa-fw"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>

                            </table>

                        </div>
                        <div *ngIf="isListEmpty">
                            <span class="fa fa-battery-empty fa-fw"></span> {{'List is empty!'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
