<app-create-contract (onCreated)="onCreated($event)"></app-create-contract>
<app-update-contract (onUpdated)="onUpdated($event)" [contract]="contractForUpdate"></app-update-contract>
<app-delete-contract (onDeleted)="onDeleted($event)" [contract]="contractForDelete"></app-delete-contract>

<div id="page-wrapper" *ngIf="contracts.length || isListEmpty">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <h1 class="page-header">Contracts</h1>
            </div>
            <div class="col-md-offset-9 col-md-1">

                <h1 class="page-header">
                    <button class="btn btn-success btn-block" (click)="onCreate()">
                        <i class="fa fa-plus fa-fw"></i> Create
                    </button>
                </h1>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th *ngFor="let header of tableHeaders" class="">{{header.title}}</th>


                                    <th>Download</th>
                                    <!--<th>Editing</th>-->
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX" *ngFor="let contract of contracts; let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{contract.number}}</td>
                                    <td>{{contract.date | date: 'yyyy-mm-dd'}}</td>
                                    <td>
                                        <span class="fa fa-user-circle fa-fw"></span>
                                        {{contract?.manager?.name}}
                                    </td>
                                    <td>
                                        <span class="fa fa-home fa-fw"></span>
                                        {{contract?.customer?.name}}
                                    </td>
                                    <td>{{contract.paymentConditions}}</td>
                                    <td>{{contract.deliveryConditions}}</td>
                                    <td>
                                        <button class="btn btn-success btn-block"
                                                (click)="onDownload(contract)">
                                            <i class="fa fa-download fa-fw"></i>
                                        </button>
                                    </td>
                                    <!--<td>-->
                                        <!--<button class="btn btn-success btn-block"-->
                                                <!--(click)="onUpdate(contract)">-->
                                            <!--<i class="fa fa-edit fa-fw"></i>-->
                                        <!--</button>-->
                                    <!--</td>-->
                                    <td>
                                        <button class="btn btn-danger btn-block"
                                                (click)="onDelete(contract)">
                                            <i class="fa fa-trash fa-fw"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="isListEmpty">
                            <span class="fa fa-battery-empty fa-fw"></span> {{'List is empty!'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
