<ngx-smart-modal #createContractModal identifier="createContractModal">

    <div class="panel panel-default" style="margin-top : 20px">

        <div class="panel-heading">
            <h2 class="panel-title">Contract creation page</h2>
        </div>

        <div class="panel-body">
            <form *ngIf="isFormReady" role="form" [formGroup]="createContractForm" (ngSubmit)="onSubmit(createContractModal)">

                <fieldset>
                    <div class="form-group">
                        <input
                            formControlName="number"
                            class="form-control"
                            placeholder="Number"
                            name="number"
                            type="text">
                    </div>

                    <div class="form-group">
                        <input
                            formControlName="date"
                            class="form-control"
                            placeholder="Date"
                            name="date"
                            type="date">
                    </div>

                    <div class="form-group">
                        <input
                            formControlName="contractor"
                            class="form-control"
                            placeholder="contractor"
                            name="contractor"
                            type="text"
                            value="'contractor'"
                            hidden>
                    </div>

                    <select style="width: 400px" [id]="'customerId'" [formControlName]="'customerId'" >
                        <option class="text-truncate" style="width: 380px" *ngFor="let customer of availableCustomers" [value]="customer.id">{{customer.name}}
                        </option>
                    </select>

                    <!--<ng-template *ngIf="createContractForm.get('reservationIds')">-->
                        <div class="form-group" *ngFor="let reservationId of createContractForm.controls.reservationIds.controls; let i=index">
                            <input
                                class="form-control"
                                type="checkbox" [formControl]="reservationId">
                            {{availableReservations[i]?.product?.name}}
                        </div>
                    <!--</ng-template>-->

                    <div class="form-group">
                        <input
                            formControlName="paymentConditions"
                            class="form-control"
                            placeholder="Payment conditions"
                            name="paymentConditions"
                            type="text">
                    </div>

                    <div class="form-group">
                        <input
                            formControlName="deliveryConditions"
                            class="form-control"
                            placeholder="Delivery conditions"
                            name="deliveryConditions"
                            type="text">
                    </div>

                    <button class="btn btn-lg btn-success btn-block" type="submit">Create</button>
                </fieldset>

            </form>
        </div>

    </div>
</ngx-smart-modal>
