<ngx-smart-modal #deleteReservationModal identifier="deleteReservationModal">

    <div class="panel panel-default" style="margin-top : 20px">

        <div class="panel-heading">
            <h2 class="panel-title">Deleting...</h2>
        </div>

        <div class="panel-body row">
            <button class="btn btn btn-default btn-block col-12" type="submit"
                    (click)="onCancel(deleteReservationModal)">Cancel
            </button>

            <button class="btn btn btn-danger btn-block col-12" type="submit"
                    (click)="onDelete(deleteReservationModal)">Delete
            </button>
        </div>
    </div>

</ngx-smart-modal>
