<div id="page-wrapper" *ngIf="managers.length || isListEmpty">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <h1 class="page-header">Managers</h1>
            </div>
            <div class="col-md-offset-9 col-md-1">

                <h1 class="page-header">
                    <button class="btn btn-success btn-block" (click)="onCreate()">
                        <i class="fa fa-plus fa-fw"></i> Create
                    </button>
                </h1>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th *ngFor="let header of tableHeaders" class="">{{header.title}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX" *ngFor="let manager of managers">
                                    <td *ngFor="let header of tableHeaders">{{manager[header.fieldName]}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="isListEmpty">
                            <span class="fa fa-battery-empty fa-fw"></span> {{'List is empty!'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



