<div id="wrapper">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand">Camilla Project</a>


        </div>

        <div class="nav navbar-nav navbar-right">
            <button (click)="onLogout()"
                    class="btn btn-info" style="margin-top: 8px; margin-right: 23px">
                <i class="fa fa-sign-out fa-fw"></i>
            </button>
        </div>

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a routerLink="products"><i class="fa fa-product-hunt fa-fw"></i> Products</a>
                    </li>
                    <li>
                        <a routerLink="customers"><i class="fa fa-home fa-fw"></i> Costumers</a>
                    </li>
                    <li>
                        <a routerLink="reservations"><i class="fa fa-sitemap fa-fw"></i> Reservations</a>
                    </li>
                    <li>
                        <a routerLink="contracts"><i class="fa fa-file-excel-o fa-fw"></i> Contracts</a>
                    </li>
                    <li *ngIf="isAdmin">
                        <a routerLink="managers"><i class="fa fa-user-circle fa-fw"></i> Managers</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>
