<ngx-smart-modal #createReservationModal identifier="createReservationModal" (onAnyCloseEvent)="onModalClosed()">

    <div class="panel panel-default" style="margin-top : 20px">

        <div class="panel-heading">
            <h2 class="panel-title">Reservations creation page</h2>
        </div>

        <div class="panel-body">
            <form role="form" [formGroup]="createReservationForm" (ngSubmit)="onSubmit(createReservationModal)">

                <fieldset>
                    <div class="form-group">
                        <select style="width: 400px" [id]="'productId'" [formControlName]="'productId'" >
                            <option class="text-truncate" style="width: 380px" *ngFor="let product of availableProducts" [value]="product.id">{{product.name}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input
                            formControlName="amount"
                            class="form-control"
                            placeholder="Amount"
                            name="amount"
                            type="number"
                            [max]="selectedProduct?.currentAmount"
                            [min]="1"
                            [disabled]="selectedProduct?.currentAmount">
                    </div>
                    <div class="form-group">
                        <input
                            formControlName="notes"
                            class="form-control"
                            placeholder="Notes"
                            name="notes"
                            type="text"
                            [disabled]="selectedProduct?.currentAmount">
                    </div>

                    <div class="form-group">
                        <input
                            formControlName="dueDate"
                            class="form-control"
                            placeholder="Due date"
                            name="dueDate"
                            type="date"
                            [disabled]="selectedProduct?.currentAmount">
                    </div>

                    <button class="btn btn-lg btn-success btn-block" type="submit">Create</button>
                </fieldset>

            </form>
        </div>

    </div>

</ngx-smart-modal>
