<ngx-smart-modal #createProductModal identifier="createProductModal">

    <div class="panel panel-default" style="margin-top : 20px">

        <div class="panel-heading">
            <h2 class="panel-title">Customers creation page</h2>
        </div>

        <div class="panel-body">
            <form role="form" [formGroup]="customerProductForm" (ngSubmit)="onSubmit(createProductModal)">

                <fieldset>

                    <div class="form-group">
                        <input
                            formControlName="name"
                            class="form-control"
                            placeholder="Name"
                            name="name"
                            type="text" autofocus>
                    </div>

                    <div class="form-group w-100">
                        <select [id]="'category'" [formControlName]="'category'">
                            <option *ngFor="let category of categories" [value]="category.value" [selected]="category.selected">{{category.title}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input
                            formControlName="supplyNumber"
                            class="form-control"
                            placeholder="Supply number"
                            name="supplyNumber"
                            type="number">
                    </div>

                    <div class="form-group">
                        <input
                            formControlName="buyPrice"
                            class="form-control"
                            placeholder="Buy price"
                            name="buyPrice"
                            type="number">
                    </div>

                    <div class="form-group">
                        <input
                            formControlName="sellPrice"
                            class="form-control"
                            placeholder="Sell price"
                            name="sellPrice"
                            type="number">
                    </div>

                    <div class="form-group">
                        <input
                            formControlName="buyAmount"
                            class="form-control"
                            placeholder="Buy amount"
                            name="buyAmount"
                            type="number">
                    </div>

                    <div class="form-group">
                        <input
                            formControlName="currentAmount"
                            class="form-control"
                            placeholder="Current amount"
                            name="currentAmount"
                            type="number">
                    </div>

                    <div class="form-group">
                        <input
                            formControlName="validUntil"
                            class="form-control"
                            placeholder="Valid until date"
                            name="validUntil"
                            type="date">
                    </div>

                    <button class="btn btn-lg btn-success btn-block" type="submit">Create</button>
                </fieldset>

            </form>
        </div>

    </div>
</ngx-smart-modal>
