<ngx-smart-modal #createCustomerModal identifier="createCustomerModal">
    <!--<div class="col-md-4 col-md-offset-4">-->
    <div class="panel panel-default" style="margin-top : 20px">

        <div class="panel-heading">
            <h2 class="panel-title">Customers creation page</h2>
        </div>

        <div class="panel-body">
            <form role="form" [formGroup]="customerCreateForm" (ngSubmit)="onSubmit(createCustomerModal)">

                <fieldset>

                    <div class="form-group">
                        <input
                            formControlName="name"
                            class="form-control"
                            placeholder="Name"
                            name="name"
                            type="text" autofocus>
                    </div>

                    <div class="form-group">
                        <input
                            formControlName="inn"
                            class="form-control"
                            placeholder="TIN"
                            name="inn"
                            type="text">
                    </div>

                    <div class="form-group">
                        <input
                            formControlName="address"
                            class="form-control"
                            placeholder="Address"
                            name="address"
                            type="text">
                    </div>

                    <div class="form-group">
                        <input
                            formControlName="phone"
                            class="form-control"
                            placeholder="Phone"
                            name="phone"
                            type="text">
                    </div>

                    <div class="form-group">
                        <input
                            formControlName="directorFullName"
                            class="form-control"
                            placeholder="Fullname of Director"
                            name="directorFullName"
                            type="text">
                    </div>

                    <div class="form-group">
                        <input
                            formControlName="bankName"
                            class="form-control"
                            placeholder="Bank name"
                            name="bankName"
                            type="text">
                    </div>

                    <div class="form-group">
                        <input
                            formControlName="bankAccount"
                            class="form-control"
                            placeholder="Bank account"
                            name="bankAccount"
                            type="text">
                    </div>

                    <div class="form-group">
                        <input
                            formControlName="mfo"
                            class="form-control"
                            placeholder="MFO"
                            name="mfo"
                            type="text">
                    </div>

                    <div class="form-group">
                        <input
                            formControlName="oked"
                            class="form-control"
                            placeholder="OKED"
                            name="oked"
                            type="text">
                    </div>

                    <div class="form-group">
                        <input
                            formControlName="ndsPayerCode"
                            class="form-control"
                            placeholder="VAT code"
                            name="ndsPayerCode"
                            type="text">
                    </div>

                    <button class="btn btn-lg btn-success btn-block" type="submit">Create</button>
                </fieldset>

            </form>
        </div>

    </div>
    <!--</div>-->
    <!--<button (click)="onCreate(createCustomerModal)">Close</button>-->
</ngx-smart-modal>
