<app-create-product (onCreated)="onCreated($event)"></app-create-product>
<app-update-product (onUpdated)="onUpdated($event)" [product]="productForUpdate"></app-update-product>
<app-delete-product (onDeleted)="onDeleted($event)" [product]="productForDelete"></app-delete-product>

<div id="page-wrapper" *ngIf="products.length || isListEmpty">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <h1 class="page-header">Products</h1>
            </div>
            <div class="col-md-offset-9 col-md-1">

                <h1 class="page-header">
                    <button class="btn btn-success btn-block" (click)="onCreate()">
                        <i class="fa fa-plus fa-fw"></i> Create
                    </button>
                </h1>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>Number</th>
                                    <!--<th>Creator</th>-->
                                    <th *ngFor="let header of tableHeaders" class="">{{header.title}}</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX" *ngFor="let product of products; let i=index">

                                    <td class="text-center">{{i+1}}</td>

                                    <!--<td valign="middle" class="text-align-center">-->
                                        <!--<span class="fa fa-user-circle fa-fw"></span>-->
                                        <!--{{product?.manager?.name}}-->
                                    <!--</td>-->

                                    <td valign="middle" class="">
                                        {{product.name}}
                                    </td>

                                    <td valign="middle" class="text-center text-align-center">
                                        {{product.category}}
                                    </td>

                                    <td valign="middle" class="text-center text-align-center">
                                        {{product.supplyNumber}}
                                    </td>

                                    <td valign="middle" class="text-center text-align-center">
                                        {{product.buyPrice | mask:'separator.0'}}
                                    </td>

                                    <td valign="middle" class="text-center text-align-center">
                                        {{product.sellPrice | mask: 'separator.0'}}
                                    </td>

                                    <td valign="middle" class="text-center text-align-center">
                                        {{product.buyAmount}}
                                    </td>

                                    <td valign="middle" class="text-center text-align-center">
                                        {{product.currentAmount}}
                                    </td>

                                    <td valign="middle" class="text-center text-align-center">
                                        {{product.validUntil | date:'yyyy-MM-dd'}}
                                    </td>

                                    <td>
                                        <button class="btn btn-success btn-block" (click)="onUpdate(product)">
                                            <i class="fa fa-edit fa-fw"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-block" (click)="onDelete(product)">
                                            <i class="fa fa-trash fa-fw"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="isListEmpty">
                            <span class="fa fa-battery-empty fa-fw"></span> {{'List is empty!'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
