<app-create-reservation (onCreated)="onCreated($event)"></app-create-reservation>
<app-update-reservation (onUpdated)="onUpdated($event)" [reservation]="reservationForUpdate"></app-update-reservation>
<app-delete-reservation (onDeleted)="onDeleted($event)" [reservation]="reservationForDelete"></app-delete-reservation>

<div id="page-wrapper" *ngIf="reservations.length || isListEmpty">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <h1 class="page-header">Reservations</h1>
            </div>
            <div class="col-md-offset-9 col-md-1">

                <h1 class="page-header">
                    <button class="btn btn-success btn-block" (click)="onCreate()">
                        <i class="fa fa-plus fa-fw"></i> Create
                    </button>
                </h1>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th *ngFor="let header of tableHeaders" class="">{{header.title}}</th>
                                    <!--<th>Edit</th>-->
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX" *ngFor="let reservation of reservations; let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{reservation.product?.name}}</td>
                                    <td>{{reservation.amount}}</td>
                                    <td>{{reservation.manager?.name}}</td>
                                    <td>{{reservation.dueDate | date:'yyyy-MM-dd'}}</td>
                                    <td>{{reservation.notes}}</td>
                                    <!--<td>-->
                                        <!--<button class="btn btn-success btn-block"-->
                                                <!--(click)="onUpdate(reservation)">-->
                                            <!--<i class="fa fa-edit fa-fw"></i>-->
                                        <!--</button>-->
                                    <!--</td>-->
                                    <td>
                                        <button class="btn btn-danger btn-block"
                                                (click)="onDelete(reservation)">
                                            <i class="fa fa-trash fa-fw"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="isListEmpty">
                            <span class="fa fa-battery-empty fa-fw"></span> {{'List is empty!'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

