<ngx-smart-modal #createManagerModal identifier="createManagerModal">

    <div class="panel panel-default" style="margin-top : 20px">

        <div class="panel-heading">
            <h2 class="panel-title">Managers creation page</h2>
        </div>

        <div class="panel-body">
            <form role="form" [formGroup]="createManagerForm" (ngSubmit)="onSubmit(createManagerModal)">

                <fieldset>
                    <button class="btn btn-lg btn-success btn-block" type="submit">Create</button>
                </fieldset>

            </form>
        </div>

    </div>

</ngx-smart-modal>
