<ngx-smart-modal #deleteCustomerModal identifier="deleteCustomerModal">

    <div class="panel panel-default" style="margin-top : 20px">

        <div class="panel-heading">
            <h2 class="panel-title">Deleting...</h2>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col">
                    <button class="btn btn btn-default btn-block" type="submit"
                            (click)="onCancel(deleteCustomerModal)">Cancel
                    </button>
                </div>
                <div class="col">
                    <button class="btn btn btn-danger btn-block" type="submit"
                            (click)="onDelete(deleteCustomerModal)">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

</ngx-smart-modal>
